html,
body {
    height: 100%;
    /*background-color: #f0f0f0;*/
}

.mayibaban-img {
    background: none;
    vertical-align: top;
}

.mayibanban-text {
    margin-left: 8px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.container {
    max-width: 768px;
}

.wrap > .container {
    padding: 70px 15px 15px;
}

.footer {
    /*height: 60px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.text-muted:hover {
    color: #777;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e151";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}
/* pjax panel list-group */
.list-group>.pagination {
    padding-left: 15px;
}

.panel>div>.list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
}

.panel-heading+div>.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel>div>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel>div>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel>div>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.ias-trigger, .ias-spinner, .ias-noneleft {
    padding: 10px 0px;
}
